In [1]:
from utilities import retrieve_data

In [8]:
data = retrieve_data()

In [11]:
data.head()

,hist_0,hist_1,hist_2,hist_3,hist_4,hist_5,hist_6,hist_7,hist_8,hist_9,...,hist_20,hist_21,hist_22,hist_23,hist_24,hist_25,hist_26,img_name,img_path,target
0,0.872812,0.000005,0.0,0.000036,0.0,0.0,0.0,0.0,0.0,0.050327,...,0.0,0.025490,0.004937,0.000011,0.000054,0.006804,0.015385,img1,1/1_l1c1.png,1
1,0.975206,0.000000,0.0,0.000651,0.0,0.0,0.0,0.0,0.0,0.007039,...,0.0,0.004853,0.001582,0.000000,0.000000,0.000201,0.000000,img10,10/10_r265.png,1
2,0.963777,0.000000,0.0,0.002005,0.0,0.0,0.0,0.0,0.0,0.006642,...,0.0,0.007828,0.002523,0.000000,0.000393,0.003800,0.000000,img10,10/10_i230.png,1
3,0.973246,0.000000,0.0,0.000556,0.0,0.0,0.0,0.0,0.0,0.008979,...,0.0,0.004392,0.000170,0.000000,0.000000,0.000007,0.000000,img10,10/10_r125.png,1
4,0.960720,0.000000,0.0,0.000656,0.0,0.0,0.0,0.0,0.0,0.013319,...,0.0,0.010299,0.000561,0.000000,0.000084,0.000264,0.000000,img10,10/10_r170.png,1